
/* App.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #fff8dc; /* Cornsilk */
}

.App {
  overflow: hidden; /* Prevent horizontal scroll */
}

.container {
  padding: 2em 5%;
  margin: auto;
}

header {
  background-color: #FF6347; /* Tomato */
  color: white;
  padding: 1.5em 0;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
}

footer {
  background-color: #FF6347; /* Tomato */
  color: white;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

footer p {
  margin: 0;
}

@media (max-width: 768px) {
  .container {
    padding: 1em 3%;
  }

  header {
    padding: 1em 0;
  }

  footer {
    padding: 0.5em 0;
  }
}

